# Python
__pycache__/
*.pyc
venv/
.env

# R
.Rhistory
.RData
.Rproj.user/

# BIG data / exports / results (do not version)
exports_by_patient_celltype/
results/
results_by_patient_celltype/
results_by_patient_celltype_*/
RDS files/
logs/

# Common big bio files
*.mtx
*.h5
*.hdf5
*.rds
*.RDS

# OS
.DS_Store